<!--
<div class="ui link card" href="/profile/{{_id}}">
  <div class="image">
    <img src="/images/male.png">
  </div>
  <div class="content">
    <a class="header">{{name}}</a>
    <div class="meta">
      <span class="date">{{created_at}}</span>
    </div>
    <div class="description">{{description}}</div>
  </div>
</div>
-->

<div class="ui card">
  <div class="content">
    <img class="right floated mini ui circular image" src="{{profile_pic}}">
    <div class="header">{{name}} {{last_name}}</div>
    <div class="meta">{{#each services as |service|}} {{service}} {{/each}}</div>
    <div class="description">{{description}}</div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <div class="ui basic green button">Perfil</div>
      <a class="ui basic red button" href="/client/message/{{_id}}">Mensaje</a>
    </div>
  </div>
</div>