<div class="ui card">
  <div class="content">
    <img class="right floated mini ui circular image" src="{{profile_pic}}">
    <div class="header">{{name}} {{last_name}}</div>
    <div class="meta">{{#each services as |service|}} {{service}} {{/each}}</div>
    <div class="description">{{description}}</div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <a class="ui basic green button" href="/client/member/{{_id}}">Perfil</a>
      <a class="ui basic red button message" data-memberId="{{_id}}">Mensaje</a>
    </div>
  </div>
</div>