<div class="ui basic segment">

  <div class="ui items">
    <div class="item">
      <div class="ui small circular image">
        <img src="{{user.profile_pic}}">
      </div>
      <div class="content">
        <div class="header">{{user.name}} {{user.last_name}}</div>
        <div class="meta">
          <p class="date">{{user.created_at}}</p>
          <p class="telephone">{{user.telephone}}</p>
          <p class="address">{{user.address}}</p>
        </div>
        <div class="description">
          <button class="ui blue button">Nuevo Mensaje</button>
        </div>
      </div>
    </div>
  </div>
</div>